.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(100vw * 0.06944);
    margin-right: calc(100vw * 0.06944);
    padding-left: calc(100vw * 0.042);
    padding-right: calc(100vw * 0.042);
    margin-bottom: 100px;
}