.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-left: calc(100vw * 0.06944);
    margin-right: calc(100vw * 0.06944);
}